@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Cabin);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
html {
	height: 100%;
	background: url("../img/caleb1bw.jpg") no-repeat fixed #000;
	background-size: contain;
}
body {
	font-size: 1em;
	font-family: 'Cabin', sans-serif;
}
.browser {
	position: relative;
	top: 5em;
	padding: 1em;
	width: 35%;
	margin: auto;
	background: rgb(255,255,0);
}
.browser a,
.browser a:visited {
	color: steelblue;
}

header {
	padding: 1em;
	margin-top: 5em;
}
header h1 {
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	letter-spacing: 0.05em;
	text-shadow: 1px 1px 1px #000;
}
header p {
	margin-top: 0.45em;
	letter-spacing: 0.05em;
}
header h1,
header p {
	color: white;
	z-index: 1;
}
header nav[role="main"] {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0, 0.7);
	height: 5em;
	min-width: 100%;
	z-index: 1000;
}
nav[role="main"] ul {
	display: flex;
	width: 50%;
	margin:  auto;
}
nav[role="main"] ul li {
	line-height: 4em;
	margin: auto;
	padding:  0.3rem;
}
nav[role="main"] ul li a {
	/*font-size: 1.1em;*/
	letter-spacing: 0.1em;
	font-variant: small-caps;
	text-decoration: none;
	color: white;

	transition: color 1s linear;
}
nav[role="main"] ul li a:visited {
	color: white;
}
nav[role="main"] ul li a:hover {
	color: #ffae02;
}
.intro {
	margin: 1em 0;
}

.intro h2 {
	color: #ffae02;
	text-shadow: 1px 1px 1px rgb(90,90,90);
	font-size: 1.5em;
	width: 95%;
	margin: 1em auto;

}
.intro figure,
.intro figure img {
	width: 100%;
}
.intro figure img {
	background-size: cover;
}
.intro figure figcaption {
	font-size: 1.25em;
	width: 85%;
	margin: 0 auto;
}
section.about {
	margin: 50% auto;
}
.bio {
	margin: 0.5em 0;
	background: rgba(0,0,0,0.3);
	color: white;
	border-bottom: 3px solid #ffae02;
}
.bio h3 {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.5em;
	font-variant: small-caps;
	border-bottom: 3px solid #ffae02;
}
.bio,
.bio h3,
.bio p {
	margin-top: 0.5em;
	padding: 0.5em;

}
.bio p {
	font-size: 1em;
	letter-spacing: 0.1em;
	line-height: 1.3em;
}
/*	===========================================================
	The following makes the video from vimeo/youtube responsive
	===========================================================
*/
div.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 3em;
	/*height: 0;*/
	overflow: hidden;
}
div.video iframe,
div.video object,
div.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
a.top {
	position: fixed;
	bottom: 0.5em;
	right: 0.65em;
	font-size: 1.25em;
	font-family: Garamond;
	line-height: 1em;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	border-radius: 50%;
	background: rgba(0,0,0,0.3);
	padding: 0.5em 0.5em 0 0.5em;
}
footer {
	color: white;
	margin-top: 1em;
	font-size: 0.750em;
	text-align: center;
	padding: 1em 0;
}
footer a {
	text-decoration: none;
	color: white;
	font-variant: small-caps;
	transition: 0.5s color linear;
}
footer a:visited {
	color: white;
}
footer a:hover {
	color: #ffae02;
}
div.soundcloud iframe {
	height: 20em;
}
h3.music-tag {
	font-size: 2em;
	font-variant: small-caps;
	color: white;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	padding: 0.5em;
	border-bottom: 4px solid #ffae02;
}
.no-flexbox div.group:after {
	content: "";
 	display: table;
  	clear: both;

}
#connect {
	margin-top: 15em;
	border-top: 4px solid #ffae02;
	border-bottom: 4px solid #ffae02;
	padding: 5em 0.5em;
	text-shadow: 1px 1px 1px black;
	background: rgba(255, 174, 2, 0.1);
}
#connect h2 {
	font-size: 2em;
	letter-spacing: 0.3em;
	text-align: center;
	color: #fff;
	margin-bottom: 1em;
}
#connect ul {
	width: 45%;
	margin: 1em auto;
}
#connect ul li {
	list-style: none;
	color: white;
	padding-bottom: 1.5em;
}
#connect ul li a {
	text-decoration: none;
	color: white;
	letter-spacing: 0.1em;
	transition: all 0.5s linear;
}
#connect a:hover {
	color: #ffae02;
}
#connect a:active {
	color: #fff;
}
/* ================ 	
	Error Pages
   ================
*/
.error {
	width: 50%;
	margin: 2em auto;
	padding: 0.25em;
	color: white;
	
}
.error .circle {
	float: left;
	margin-right: 1em;
	background: #ffae02;
	border: 5px dotted white;
	width: 6em;
	height: 6em;
	border-radius: 15%;
	box-shadow: 0 0 0 3px #ffae02;
}
.error h1:first-child {
	color: #ffae02;
	text-shadow: 1px 1px 1px black;
}
.error h1 {
	font-size: 1.5em;
}
div.error .circle > h1 {
	color: white;
	font-size: 2em;
	font-weight: bold;
	line-height: 3em;
	text-align: center;
}
div.errorMessage a,
div.errorMessage a:visited {
	color: white;
}

@media screen and (min-width: 420px) {
	footer {
		background: black;
	}
}
@media screen and (min-width: 520px) {
	header h1 {
		letter-spacing: 0.2em;
	}
	header p {
		margin-top: 1em;
	}
	footer {
		letter-spacing: 0.2em;
	}
}
@media screen and (min-width: 620px) {
	body {
		font-size: 1.125em;
	}
	header h1,
	header p {
		width: 95%;
		margin: auto;
	}
	header p {
		font-size: 1.2em;
		margin-top: 1em;
	}
	.bio h3,
	.bio p {
		width: 80%;
		margin: 1em auto;
	}
	#connect ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#connect ul li {
		margin: 1.5em auto;
	}
	#connect ul li {
		font-size: 1.2em;
	}
	footer {
		margin: 0 auto;
	}
}
@media screen and (min-width: 750px) {
	html {
		background-size: cover;
	}
	header h1 {
		font-size: 4.5em;
		letter-spacing: 0em;
	}
	header h1,
	header p {
		width: 85%;
		margin: 0.5em auto;
	}
	header p {
		font-size: 1.5em;
	}
	div.video {
		width: 85%;
		margin: 1em auto;
	}
	h3.music-tag {
		font-size: 2.5em;
		padding: 2.5em;
	}
	div.soundcloud {
		background: black;
		padding: 1em 0;
		border-bottom: 3px solid #ffae02;
	}
	div.soundcloud iframe {
		display: block;
		width: 85%;
		margin: 0 auto;
	}
	#connect ul {
		margin-top: 2em;
	}
}
@media screen and (min-width: 900px) {
	article.bio h3,{
		width: 75%;
	}
	article.bio p {
		width: 65%;
	}
}
@media screen and (min-width: 1000px) {
	article.bio p {
			width: 90%;
			-webkit-columns: 20em;
			-moz-columns: 20em;
			columns: 20em;
	}
	section.about {
		/*display: -webkit-box; 
  		display: -moz-box; 
  		display: -ms-flexbox; 
 		display: -webkit-flex;    
 		display: flex;*/
 		background-color: rgba(0,0,0,0.3);		
		border-bottom: 4px solid #ffae02;
	}
	
	article.bio {
		/*width: 45%;*/
		border: none;
		background-color: rgba(0,0,0,0);
	}
	div.video {
		/*width: 45%;*/
		/*margin-left: 5em;*/
	}
	/*.no-flexbox article.bio {	
		width: 45%;
		float: left;	
	}
	.no-flexbox div.video {
		width: 45%;
		float: right;
	}*/
}
@media screen and (min-width: 1200px) {
	section.about {
		width: 90%;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	}
	div.soundcloud iframe {
		width: 50%;
	}
}

